.item1, .item2 {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

.item1 > h4 {
	height: 19.2px;
	position: relative;
	top:50%;
	margin-top: -9.6px;
}

.item2 > h4 {
	height: 19.2px;
	position: relative;
	top:50%;
	margin-top: -9.6px;
}

.item1:nth-child(1) {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}

.item1:nth-child(2) {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
}

.item1:nth-child(3) {
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;
}


.item1:nth-child(4) {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 5;
}
.item1:nth-child(5) {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 5;
}
.item1:nth-child(6) {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
}
.item1:nth-child(7) {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 4;
	grid-row-end: 5;
}
.item1:nth-child(8) {
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 5;
}
.item1:nth-child(9) {
	grid-column-start: 5;
	grid-column-end: 6;
	grid-row-start: 3;
	grid-row-end: 5;
}
.item1:nth-child(10) {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 5;
	grid-row-end: 6;
}
.item1:nth-child(11) {
	grid-column-start: 5;
	grid-column-end: 6;
	grid-row-start: 5;
	grid-row-end: 6;
}
.item1:nth-child(12) {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 6;
	grid-row-end: 7;
}
.item1:nth-child(13) {
	grid-column-start: 5;
	grid-column-end: 6;
	grid-row-start: 6;
	grid-row-end: 7;
}
.item1:nth-child(14) {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 7;
	grid-row-end: 8;
}
.item1:nth-child(15) {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 8;
	grid-row-end: 9;
}

.item1:nth-child(16) {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}