body {
    background-color: rgb(245, 245, 245);
    max-width: 700px;
}
body * {
    font-family: 'Gothic A1', sans-serif;
    padding: 0px;
    margin: 0px;
    -webkit-font-smoothing: antialiased;
}

.title {
    margin-left: 20px;
    color:black;
    margin-top: 20px;
}

.score-text {
    text-align: right;
    margin-right: 30px;
}

.act-text {
    margin-left: 20px;
    display: inline-block;
}

.act-score-text {
    color:rgb(3, 161, 3);
    display: inline-block;
}

.items {
    width: 100%;
    height: 80%;
    margin-top: 5px;
}

.items > img {
    position: relative;
    width: 30px;
    height: 30px;
    left: 50%;
    top:50%;
    margin-left:-15px;
    margin-top:-15px;
}

.bottom-bar {
    background-color: rgba(250, 250, 250);
    z-index: 10;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: fixed;
    width: 95vw;
    height: 60px;
    bottom: 0px;
    left: 50%;
    margin-left: -47.5vw;
    margin-bottom: 10px;
    border-radius: 20px;
    overflow: hidden;
}


.login {
    position: relative;
    left: 50%;
    width: 80%;
    margin-left: -40%;
}

.box {
    width: 90%;
    position: relative;
    left: 50%;
    margin-left: -45%;
    border: 20px;
    background-color: rgba(250, 250, 250, 1);
    border-radius: 20px;
    padding: 20px 0px;
}

.img {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    background-color: rgba(245, 245, 245, 0.4);
    position: relative;
    left: 50%;
    margin-left: -65px;
    margin-top: 60px;
    text-align: center;
    line-height: 130px;
    color:rgb(225, 225, 225);
}


hr {
    width: 40%;
    margin-bottom: 25px;
    position: relative;
    left: 50%;
    margin-left: -20%;
}

.sub > h2 {
    display:inline-block;
}

.status {
    margin-right: 10px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 10px;
    display: inline-block;
}

.sub {
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: -5px;
}

.sample_img > img {
    height: 100%;
}

.white {
    height: 100%;
    width: 30px;
    background-color: black;
}

.map1-grid {
    display: inline-grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    width: 90%;
    height: 450px;
    gap: 5px;
    padding: 20px 5%;
    background-color: rgb(223, 223, 223);
    border-radius: 10px;
}

.map2-grid {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(11, 1fr);
    width: 90%;
    height: 450px;
    gap: 5px;
    padding: 20px 5%;
    background-color: rgb(223, 223, 223);
    border-radius: 10px;
}

select {
    width: 90%;
    height: 40px;
    border: 0px;
    border-radius: 20px;
    position: relative;
    left: 50%;
    margin-left: -45%;
}

.sample_img {
    display: inline-block;
    overflow: hidden;
    width: 100px;
    height: 100px;
    background-color: rgb(160, 160, 160);
    position: relative;
    border-radius: 10px;
    margin-left: 5px;
}

.name {
    text-align: center;
    margin: 10px 0px 70px 0px;
}

.login-btn {
    width: 120px;
    height: 45px;
    border-radius: 30px;
    border: 0px;
    background: linear-gradient(to right, #F27121, #E94057, #8A2387);
    color:white;
    position: relative;
    left: 50%;
    margin-left: -60px;
}

.login > input {
    width: 100%;
}

label {
    font-size: 13px;
}

input {
    border-radius: 20px;
    text-align: center;
    border: 0px;
    height: 40px;
    background-color: rgb(245, 245, 245);
}

.f1 {font-size: 5px;}
.f2 {font-size: 10px;}
.f3 {font-size: 15px;}
.f4 {font-size: 20px;}
.f5 {font-size: 25px;}
.f6 {font-size: 30px;}
.f7 {font-size: 35px;}
.f8 {font-size: 40px;}
.f9 {font-size: 45px;}
.f10 {font-size: 50px;}
.f11 {font-size: 55px;}
.f12 {font-size: 60px;}
.f13 {font-size: 65px;}
.f14 {font-size: 70px;}
.f15 {font-size: 75px;}
.f16 {font-size: 80px;}
.f17 {font-size: 85px;}
.f18 {font-size: 90px;}
.f19 {font-size: 95px;}
.f20 {font-size: 100px;}
.f21 {font-size: 105px;}
.f22 {font-size: 110px;}
.f23 {font-size: 115px;}

.b1 {font-weight: 100;}
.b2 {font-weight: 200;}
.b3 {font-weight: 300;}
.b4 {font-weight: 400;}
.b5 {font-weight: 500;}
.b6 {font-weight: 600;}
.b7 {font-weight: 700;}
.b8 {font-weight: 800;}
.b9 {font-weight: 900;}

.shadow { 
    box-shadow: 0px 0px 27px -20px rgb(61, 61, 61);
    border: 0.1px solid rgb(240, 240, 240);
}
.blur {
    /* -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px); */
}