body {
    background-color: #6337FF;
    max-width: 700px;
}
body * {
    font-family: 'Gothic A1', sans-serif;
    padding: 0px;
    margin: 0px;
    -webkit-font-smoothing: antialiased;
}

.t-dot {
    width: 20px;
    position: absolute;
    height: 20px;
    z-index: 100;
    right: 20px;
    top:20px;
}

.background {
    width: 100vw;
    height: 60%;
    background-color: rgb(228, 228, 228);
    position: fixed;
    z-index: -1;
    bottom: 0px;
    left: 0px;
}

.login-text {
    margin-left: 20px;
    margin-top: 80px;
    color:white;
    margin-bottom: 10px;
}

.booth-text {
    margin-left: 20px;
    margin-top: 30px;
    color:white;
    margin-bottom: 30px;
}

.title {
    margin-left: 20px;
    color:black;
    margin-top: 20px;
}


.score-text {
    text-align: right;
    margin-right: 30px;
}

.act-text {
    margin-left: 20px;
    display: inline-block;
}

.act-score-text {
    color:rgb(3, 161, 3);
    display: inline-block;
}

.items {
    width: 100%;
    height: 80%;
    margin-top: 5px;
}

.items > img {
    position: relative;
    width: 20px;
    left: 50%;
    top:9px;
    margin-left:-10px;
}

.bottom-bar {
    background-color: rgba(250, 250, 250);
    z-index: 10;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: fixed;
    width: 95vw;
    height: 50px;
    bottom: -500px;
    left: 50%;
    margin-left: -47.5vw;
    margin-bottom: 10px;
    border-radius: 20px;
    overflow: hidden;
}


.half-box * {
    display: inline-block;
}

.half-box img {
    width: 50px;
    height: 50px;
}

.half-box > h3 {
    margin-bottom: 10px;
}


.half-box {
    text-align: center;
    width: 90%;
    background-color: rgba(250, 250, 250, 1);
    border-radius: 20px;
    padding: 20px 5%;
    height: 60%;
    float: left;
}

.grid {
    margin-top: 20px;
    column-gap: 15px;
    display: grid;
    height: 400px;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    position: relative;
    left: 50%;
    margin-left: -45%;
}


.login {
    position: relative;
    left: 50%;
    width: 100%;
    margin-left: -50%;
}

.box {
    width: 80%;
    position: relative;
    left: 50%;
    margin-bottom: 20px;
    margin-left: -45%;
    background-color: rgba(250, 250, 250, 1);
    border-radius: 20px;
    padding: 20px 5%;
}

.img {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    background-color: rgba(245, 245, 245, 0.4);
    position: relative;
    left: 50%;
    margin-left: -65px;
    margin-top: 60px;
    text-align: center;
    line-height: 130px;
    color:rgb(225, 225, 225);
}


hr {
    width: 40%;
    margin-bottom: 25px;
    position: relative;
    left: 50%;
    margin-left: -20%;
}

.sub > h2 {
    display:inline-block;
}

.status {
    margin-right: 10px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 10px;
    display: inline-block;
    float: left;
}

.sub {
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: -5px;
}

.white {
    height: 100%;
    width: 30px;
    background-color: black;
}

.map1-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    width: 90%;
    height: 450px;
    gap: 5px;
    padding: 20px 5%;
    border-radius: 10px;
}

hr {
    width: 100%;
    height: 5px;
    position: relative;
    left: 50%;
    margin-left: -50%;
    border: 0px;
    border-radius: 20px;
    background-color: #6337FF;
    margin-top: 5px;

}

.booth-img {
    width: 100%;
    border-radius: 10px;
    margin-top: 5px;
}

.booth-full > p {
    width: 100%;
    margin-top: 10px;
}

.booth-full {
    width: 90%;
    height: 100%;
    background-color: white;
    position: fixed;
    padding: 5%;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

.close {
    width: 20px;
    height: 20px;
    position: fixed;
    right: 30px;
    top: 30px;
    filter: invert(0.8);
}

.map2-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(11, 1fr);
    width: 90%;
    height: 450px;
    gap: 5px;
    padding: 20px 5%;
    border-radius: 10px;
    z-index: 1000;
}

#AddRanking {
    height: 70vh;
    overflow: scroll;
}

select {
    width: 90%;
    height: 40px;
    border: 0px;
    border-radius: 20px;
    position: relative;
    background-color: white;
    left: 50%;
    margin-left: -45%;
}


#AddHistory {
    max-height: 400px;
    overflow: scroll;
}

.his-box {
    margin-bottom: 5px !important;
}

.his-box * {
    display: inline-block;
}
.his-box > img {
    float: left;
}




.bo-ti {
    text-align: center;
    margin: 30px 0px;
}

.sample_img {
    overflow: hidden;
    width: 90%;
    height: 100px;
    background-color: rgb(160, 160, 160);
    position: relative;
    border-radius: 10px;
    left: 50%;
    margin-left: -45%;
}

.stat {
    margin-top: 30px;
    height: 100px;
}

.stat > img {
    float: right;
    margin-top: -80px;
}


.help {
    width: 40vw;
    height: 120px;
    border-radius: 20px;
    background-color: rgb(19, 219, 136);
    border: 0px;
    position: relative;
    left: 20px;
    color: white;
}

.G-login {
    width: 80%;
    height: 50px;
    background-color: rgb(228, 228, 228);
    border: 0px;
    border-radius: 10px;
    position: relative;
    left: 50%;
    margin-left: -40%;
}

.login-btn {
    width: 40vw;
    height: 120px;
    border-radius: 20px;
    right: 25px;
    border: 0px;
    color:white;
    background-color: #37a5ff;
    position: absolute;
}

.login > input {
    width: 100%;
}

label {
    font-size: 13px;
}

input {
    border-radius: 20px;
    text-align: center;
    border: 0px;
    height: 40px;
    background-color: rgb(245, 245, 245);
}

.f1 {font-size: 5px;}
.f2 {font-size: 10px;}
.f3 {font-size: 15px;}
.f4 {font-size: 20px;}
.f5 {font-size: 25px;}
.f6 {font-size: 30px;}
.f7 {font-size: 35px;}
.f8 {font-size: 40px;}
.f9 {font-size: 45px;}
.f10 {font-size: 50px;}
.f11 {font-size: 55px;}
.f12 {font-size: 60px;}
.f13 {font-size: 65px;}
.f14 {font-size: 70px;}
.f15 {font-size: 75px;}
.f16 {font-size: 80px;}
.f17 {font-size: 85px;}
.f18 {font-size: 90px;}
.f19 {font-size: 95px;}
.f20 {font-size: 100px;}
.f21 {font-size: 105px;}
.f22 {font-size: 110px;}
.f23 {font-size: 115px;}

.b1 {font-weight: 100;}
.b2 {font-weight: 200;}
.b3 {font-weight: 300;}
.b4 {font-weight: 400;}
.b5 {font-weight: 500;}
.b6 {font-weight: 600;}
.b7 {font-weight: 700;}
.b8 {font-weight: 800;}
.b9 {font-weight: 900;}

.shadow { 
    box-shadow: 0px 0px 27px -20px rgb(61, 61, 61);
    border: 0.1px solid rgb(240, 240, 240);
}
.blur {
    /* -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px); */
}

.ani {
    transition: 0.8s;
}